/*
  Styles for the back and front of Eric Bréchemier's business card
  featuring the Sierpiński Sieve, also called Sierpiński triangle.
*/

.empty, .background {
  fill: none;
}

.frame {
  stroke: #aaa;
  stroke-width: 24;
}

text {
  fill: black;
}

.triangle {
  stroke: black;
  vector-effect: non-scaling-stroke;
  stroke-width: 0.25mm;
  stroke-linejoin: bevel;
}

.text {
  font-family: "Gill Sans";
  text-anchor: end;
  dominant-baseline: text-bottom;
}

.name {
  font-variant: small-caps;
}

.name      { font-size: 128mm; }
.email     { font-size: 120mm; }
.phone     { font-size: 106mm; }
.url       { font-size:  96mm; }
